.App {
  background-color: #282c34;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  min-height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  white-space: nowrap;
}

.incoming-car {
  display: flex;
  position: relative;
  left: 350px;
  right: 350px;
  top: 100px
}